<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ling.medicalview.mapper.DoctorMapper">

    <insert id="insertDoctor">
      INSERT INTO doctor(hid,oid,doctCode,doctName,doctSex,doctPhone,appellation,doctEmail,entryDate)
       VALUES (#{hid},#{oid},#{doctCode},#{doctName},#{doctSex},#{doctPhone},#{appellation},
       #{doctEmail},#{entryDate}) ;
    </insert>

</mapper>
