<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ling.medical2.mapper.UserMapper">
    <!--添加用户-->
    <insert id="addUser">
        INSERT INTO smbms_user(usercode,username,userPassword,
        userRole,birthday,createdBy,creationDate,gender,phone,address,idPicPath,workPicPath)
        VALUES(#{userCode},#{userName},#{userPassword},#{userRole},
        #{birthday},#{createdBy},#{creationDate},#{gender},#{phone},#{address},#{idPicPath},#{workPicPath})
    </insert>
    <!--删除用户-->
    <delete id="deleteUserById">
    DELETE FROM smbms_user WHERE id=#{uid}
    </delete>
    <!--根据用户id修改用户信息-->
    <update id="updateUser">
        UPDATE smbms_user
        <set>
            <if test="userName!=null and ''!=userName">
                userName=#{userName},
            </if>
            <if test="gender!=null ">
                gender=#{gender},
            </if>
            <if test="birthday!=null and ''!=birthday">
                birthday=#{birthday},
            </if>
            <if test="phone!=null and ''!=phone">
                phone=#{phone},
            </if>
            <if test="address!=null and ''!=address">
                address=#{address},
            </if>
            <if test="userRole!=null ">
                userRole=#{userRole},
            </if>
            <if test="modifyBy!=null ">
                modifyBy=#{modifyBy},
            </if>
            <if test="modifyDate!=null and ''!=modifyDate">
                modifyDate=#{modifyDate},
            </if>
        </set>
            where id=#{id}
    </update>
    <!--根据id查询用户-->
    <select id="queryuserById" resultType="cn.ling.medical2.pojo.User">
        SELECT *,r.roleName AS userRoleName FROM smbms_user AS u,smbms_role AS r
        WHERE u.userRole=r.id AND u.id=#{uid}
    </select>

</mapper>
